name: Build Android APK

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v3

      - name: Configurar Java 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Instalar Cordova
        run: npm install -g cordova

      - name: Criar Projeto Cordova e Compilar
        run: |
          echo "--- Criando App Temporário ---"
          cordova create temp_app com.kaua.messenger GhostMsg
          
          echo "--- Copiando seus arquivos ---"
          # O -r copia pastas e o -f força a substituição
          cp -rf www/* temp_app/www/
          cp -f config.xml temp_app/
          cp -f icon.png temp_app/
          
          cd temp_app
          
          echo "--- Adicionando Android ---"
          cordova platform add android
          
          echo "--- Compilando APK ---"
          cordova build android --debug

      - name: Listar Arquivos (Para Debug)
        run: find temp_app -name "*.apk"

      - name: Upload do APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          # Os ** significam: procure em qualquer profundidade de pasta
          path: temp_app/**/*.apk
